<!DOCTYPE html>
<head>
<%
    var ownJsFile = grunt.config('uglify').dist.dest;
    var extJsFiles = grunt.config('externalJsFilesFat');
    var extCssFiles = grunt.config('externalCssFilesFat');

    function print_script_inline(name, content) {
        print('<!-- START ' + name + ' -->\n');
        print('<script type="text/javascript">');
        print(content);
        print('</script>\n');
        print('<!-- END ' + name + ' -->\n');
    }
    function print_style_inline(name, content) {
        print('<!-- START ' + name + ' -->\n');
        print('<style>');
        print(content);
        print('</style>');
        print('<!-- END ' + name + ' -->\n');
    }

    // inline ALL CSS
    for(var i = 0, len = extCssFiles.length; i < len; i++) {
        var fileContent = grunt.file.read(extCssFiles[i]);
        print_style_inline(extCssFiles[i], fileContent);
    }

    // inline ALL JS
    for(var i = 0, len = extJsFiles.length; i < len; i++) {
        var fileContent = grunt.file.read(extJsFiles[i]);
        print_script_inline(extJsFiles[i], fileContent);
    }

    // inline ownJsFiles, minified
    var fileContent = grunt.file.read(ownJsFile);
    print_script_inline(ownJsFile, fileContent);

%>
</head>
<body>
    <div id="md-all">
        <div id="md-body">
            <div id="md-title"></div>
            <div id="md-menu">
            </div>

            <div id="md-content"></div>
        </div>
    </div>
</body>
<html>
</html>
